<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display Capital</h1>
    <table border="3px">
        <tr>
            <th>
                Capital_Id
            </th>
            <th>
                Country_id
            </th>
            <th>
                Capital_name
            </th>
        </tr>
    {% for c in QLcO %}
        <tr>
            <td>
                {{ c.Capital_Id }}
            </td>
            <td>
                {{ c.Country_id }}
            </td>
            
            <td>
                {{ c.capital_name }}
            </td>


        </tr>
    {% endfor %}    
    </table>
</body>
</html>